<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog.txt">

	<targets>
		<!-- כתיבה לקובץ -->
		<target xsi:type="File"
				name="logfile"
				fileName="../../../logfile-${shortdate}.txt"
				layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />
	</targets>

	<rules>
		<!-- כלל כללי: כתוב הכל ברמה Info ומעלה -->
		<logger name="*" minlevel="Info" writeTo="logfile" />
	</rules>
</nlog>
